<h2 mat-dialog-title>Créer un client</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Banque</mat-label>
      <mat-select formControlName="bank">
        @for (bank of bankTypeValues; track bank) {
        <mat-option [value]="bank">{{bank}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (type of cardTypeValues; track type) {
        <mat-option [value]="type">{{type}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numéro de carte</mat-label>
      <input matInput formControlName="cardNumber" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Code PIN</mat-label>
      <input matInput formControlName="pin" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Solde de départ</mat-label>
      <input matInput formControlName="balance" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="dialogRef.close()">Fermer</button>
  <button matButton cdkFocusInitial [mat-dialog-close]="form.value" [disabled]="form.invalid">Créer</button>
</mat-dialog-actions>
