<h2 mat-dialog-title>Créer un client</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstname" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastname" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Addresse</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        @for (gender of genderValues; track gender) {
        <mat-option [value]="gender">{{gender}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="dialogRef.close()">Fermer</button>
  <button matButton cdkFocusInitial [mat-dialog-close]="form.value" [disabled]="form.invalid">Créer</button>
</mat-dialog-actions>
