<h2 mat-dialog-title>Créer un client</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date de naissance</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Addresse</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <input matInput />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton>Fermer</button>
  <button matButton cdkFocusInitial>Créer</button>
</mat-dialog-actions>
