<div class="flex-end">
  <button matIconButton (click)="returnToHome()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">euro</mat-icon>
        Solde
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>{{ currentCard().balance | currency: 'EUR' }}</h3>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>arrow_downward</mat-icon>
        Retrait
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline">
      <mat-label>Montant du retrait</mat-label>
      <input matInput [formControl]="withdrawal" type="number" step="5" placeholder="50">
      <button matIconButton matSuffix [disabled]="withdrawal.invalid" (click)="handleWithdrawl()">
        <mat-icon>check</mat-icon>
      </button>
      @if(withdrawal.hasError('min')){
      <mat-error>Attention le montant minimum est de <strong>{{ 5 | currency: 'EUR' }}</strong></mat-error>
      } @else if(withdrawal.hasError('required')) {
      <mat-error>Un montant est <strong>requis</strong> pour continuer.</mat-error>
      } @else if(withdrawal.hasError('max')) {
      <mat-error>Attention le montant maximum est de <strong>{{ currentCard().balance| currency: 'EUR'
          }}</strong></mat-error>
      } @else if(withdrawal.hasError('isMultiple')) {
      <mat-error>Attention le montant doit être un multiple de <strong>{{ 5| currency: 'EUR' }}</strong></mat-error>
      }
    </mat-form-field>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>arrow_upward</mat-icon>
        Dépot
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline">
      <mat-label>Montant du dépôt</mat-label>
      <input matInput [formControl]="deposit" type="number" step="5" placeholder="50">
      <button matIconButton matSuffix [disabled]="deposit.invalid" (click)="handleDeposit()">
        <mat-icon>check</mat-icon>
      </button>
      @if(deposit.hasError('min')){
      <mat-error>Attention le montant minimum est de <strong>{{ 5 | currency: 'EUR' }}</strong></mat-error>
      } @else if(deposit.hasError('required')) {
      <mat-error>Un montant est <strong>requis</strong> pour continuer.</mat-error>
      } @else if(deposit.hasError('isMultiple')) {
      <mat-error>Attention le montant doit être un multiple de <strong>{{ 5| currency: 'EUR' }}</strong></mat-error>
      }
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
