<div class="container">
  <mat-accordion multi>
    @for (customer of CUSTOMERS; track customer.fullname) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{customer.isMale ? 'man': 'woman'}}</mat-icon>
          {{customer.fullname}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (card of customer.cards; track card.cardNumber) {
        <mat-list-item>
          <span matListItemTitle>{{card.bank}} - {{card.cardNumber}}</span>
          <span matListItemLine>{{card.balance | currency:'EUR'}}</span>
        </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
