<h2>Merci de sélectionnez votre carte</h2>
@for (customer of customers(); track customer.fullname) {
<h3>{{customer.fullname}}</h3>
@for(card of customer.cards; track card.cardNumber) {
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{card.bank}}</mat-card-title>
    <mat-card-subtitle>{{card.type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{card.cardNumber}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton (click)="chooseCard(card)">Choisir</button>
  </mat-card-actions>
</mat-card>
}
}
