@switch (currentStep) {
@case (AtmStep.LANDING) {
<app-atm-landing (onNext)="changeStep(AtmStep.CARD_SELECTION)"></app-atm-landing>
}
@case (AtmStep.CARD_SELECTION) {
<app-atm-card-selection [customers]="customers()" (onChooseCard)="handleSelectCard($event)"></app-atm-card-selection>
}
@case (AtmStep.PIN_PAD) {
<app-pin-pad (validatePin)="handlePin($event)"></app-pin-pad>
@if (erroMessage) {
<p class="error-msg">{{erroMessage}}</p>
}
}
@case (AtmStep.ACTIONS_MENU) {
@if(selectedCard) {
<app-atm-actions-menu [currentCard]="selectedCard" (onExit)="changeStep(AtmStep.LANDING)"></app-atm-actions-menu>
}
}
}
